@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --lightBrown: #8C3F23;
    --darkBrown: #261C1C;
    --lightTextColor: #FCE5C4;
    --darkTextColor: #BF8069;
}

@font-face {
    font-family: peakyBlinders;
    src: url(../fonts/Alycidon-Condensed.otf);
}

body {
    background-color: var(--darkBrown);
}

@media screen and (max-width: 600px) {

    .endpoint {
        color: rgb(255, 0, 255);
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../images/pexels-thgusstavo-santana-1813272.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin: auto;
        height: 300px;
    }

    .headerText {
        position: relative;
        margin-left: 1rem;
        color: #261515;
        mix-blend-mode: overlay;
    }

    #companyName {
        margin-top: 1.5rem;
        font-size: medium;
    }

    #headline {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        font-size: 55px;
        mix-blend-mode: overlay;
    }

    #subheading {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: medium;
    }

    #headerButton {
        margin-top: 1.5rem;
        width: 150px;
        height: 40px;
        background-color: #FFFAF5;
        color: black;
    }

    /*###################################################################*/

    .key-benefits {
        background-color: var(--lightBrown);
        display: flex;
        flex-direction: column;
        height: auto;
        color: var(--lightTextColor);
    }

    #keyBenefitsTitle {
        font-size: xx-large;
        text-align: center;
        color: var(--lightTextColor);
        margin: 1rem;
    }

    .benefitsContainer {
        width: 100%;
    }

    .benefits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: .5rem;
    }

    .benefits>img {
        width: 50px;
        height: 50px;
    }

    .benefitsTitle {
        margin: .3rem;
    }

    .benefitsText {
        padding: 1rem;
    }

    /*###################################################################*/

    .user-rating {
        background-color: var(--darkBrown);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--darkTextColor);
    }

    .userRatingIcon {
        width: 70px;
        height: 70px;
        margin: 1rem;
    }

    .carousel-container {
        position: relative;
        height: 300px;
        width: 350px;
        margin: 0 auto;
        overflow: hidden;

    }

    .carousel-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .carousel-slide.active {
        opacity: 1;
    }

    .userRatingComment {
        padding: .5rem;
        font-size: 16px;
        height: auto;
    }

    .userRatingPhoto {
        width: 70px;
        height: 70px;
        margin: 1rem;
    }

    .rating {
        display: inline-block;
        font-size: 0;
        line-height: 0;
    }

    .star {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 2px;
        background-image: url('../icons/star.png');
        background-size: cover;
    }

    .userRatingName {
        font-size: 18px;
        margin: .5rem;
    }

    .userRatingLocation {
        font-size: 14px;
        margin-bottom: 1rem;
    }



    /*###################################################################*/

    .features {
        background-color: var(--lightBrown);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--lightTextColor);
    }

    .ftTitle {
        font-size: 24px;
        margin: 1rem;
    }

    .featuresCards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ftCard {
        width: 300px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: .2rem;
        border-bottom: 1px solid var(--darkBrown);
    }

    .ftCard:last-child {
        border-bottom: 0;
    }

    .featureImage {
        width: 200px;
        height: 150px;
        margin: .3rem;
    }

    .featureTitle {
        font-size: 18px;
        margin: .5rem;
    }

    .featureText {
        margin: 1rem;
        text-align: justify;
    }

    /*###################################################################*/

    .featureSubSection {
        background-color: var(--darkBrown);
        color: var(--darkTextColor);
        display: flex;
        align-items: center;
    }

    .subImage {
        width: 150px;
        height: 150px;
        margin: .5rem;
    }

    .subInfo {
        margin: 1rem;
    }

    .subTitle {
        margin: .5rem .5rem .5rem 0;
        font-size: 24px;
    }

    .subText {
        font-size: 16px;
        text-align: justify;
        max-width: 88%;
    }

    /*###################################################################*/
    .footerSection {
        display: flex;
        background-color: var(--lightBrown);
        color: var(--lightTextColor);
        height: auto;
    }


    .footerTitle {
        font-size: 24px;
        margin: .5rem;
        text-align: center;
    }

    ul {
        text-align: justify;
        list-style-type: none;
        font-size: 16px;
    }

    li {
        margin-left: .5rem;
        padding-bottom: 1rem;
    }

    .listIcons {
        background-image: url('../icons/phone.png');
        width: 30px;
        height: 30px;
    }

    .imgFooter {
        width: 150px;
        height: 150px;
        margin: 1rem;
    }
}

@media screen and (min-width: 601px) {

    .endpoint {
        color: rgb(255, 0, 255);
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../images/pexels-thgusstavo-santana-1813272.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin: auto;
        height: 300px;
    }

    .headerText {
        position: relative;
        margin-left: 1rem;
        color: #261515;
        mix-blend-mode: overlay;
    }

    #headline {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        font-size: 72px;
    }

    /*###################################################################*/

    .key-benefits {
        background-color: var(--lightBrown);
        display: flex;
        flex-direction: column;
        height: auto;
        color: var(--lightTextColor);
    }

    #keyBenefitsTitle {
        font-size: 32px;
        text-align: center;
        color: var(--lightTextColor);
        margin: 1rem;
    }

    .benefitsContainer {
        width: 100%;
    }

    .benefits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: .5rem;
    }

    .benefits>img {
        width: 50px;
        height: 50px;
    }

    .benefitsTitle {
        margin: .3rem;
    }

    .benefitsText {
        padding: 1rem;
    }

    /*###################################################################*/

    .user-rating {
        background-color: var(--darkBrown);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--darkTextColor);
    }

    .userRatingIcon {
        width: 70px;
        height: 70px;
        margin: 1rem;
    }

    .carousel-container {
        position: relative;
        height: 400px;
        width: 550px;
        margin: 0 auto;
        overflow: hidden;

    }

    .carousel-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .carousel-slide.active {
        opacity: 1;
    }


    .userRatingComment {
        margin: 1rem;
        font-size: 20px;
    }

    .userRatingPhoto {
        width: 70px;
        height: 70px;
        margin: 1rem;
    }

    .rating {
        display: inline-block;
        font-size: 0;
        line-height: 0;
    }

    .star {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 2px;
        background-image: url('../icons/star.png');
        background-size: cover;
    }

    .userRatingName {
        font-size: 18px;
        margin: .5rem;
    }

    .userRatingLocation {
        font-size: 14px;
        margin-bottom: 1rem;
    }


    /*###################################################################*/

    .features {
        background-color: var(--lightBrown);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--lightTextColor);
    }

    .ftTitle {
        font-size: 32px;
        margin: 1rem .3rem;
    }

    .featuresCards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .ftCard {
        width: 150px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
    }

    .featureImage {
        width: 100%;
        height: 150px;
        margin: .3rem;
    }

    .featureTitle {
        font-size: 20px;
        margin: .5rem;
    }

    .featureText {
        font-size: 16px;
        margin: 1rem;
        text-align: justify;
    }

    /*###################################################################*/

    .featureSubSection {
        background-color: var(--darkBrown);
        color: var(--darkTextColor);
        display: flex;
        align-items: center;
    }

    .subImage {
        max-width: 500px;
        height: 200px;
        margin: 1rem;
    }

    .subInfo {
        margin: 1rem;
    }

    .subTitle {
        margin: .5rem .5rem .5rem 0;
        font-size: 28px;
    }

    .subText {
        font-size: 18px;
        text-align: justify;
        max-width: 88%;
    }

    /*###################################################################*/

    .footerSection {
        display: flex;
        background-color: var(--lightBrown);
        color: var(--lightTextColor);
        height: auto;
        justify-content: space-around;
    }

    .footerTitle {
        font-size: 24px;
        margin: 1rem;
        text-align: center;
    }

    ul {
        text-align: justify;
        list-style-type: none;
        font-size: 18px;
    }

    li {
        margin-left: .5rem;
        padding-bottom: 1rem;
    }

    .listIcons {
        background-image: url('../icons/phone.png');
        width: 30px;
        height: 30px;
    }

    .imgFooter {
        margin: 1rem;
        width: 140px;
        height: 140px;
    }

}

@media screen and (min-width: 769px) {

    .endpoint {
        color: rgb(255, 0, 255);
    }

    .header {
        display: flex;
        flex-direction: column;
        background-image: url('../images/pexels-thgusstavo-santana-1813272.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        margin: auto;
        height: 400px;
    }

    .headerText {
        position: relative;
        margin-left: 1rem;
        color: #261515;
        mix-blend-mode: overlay;
    }

    #headline {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        font-size: 100px;
    }

    /*###################################################################*/

    .key-benefits {
        background-color: var(--lightBrown);
        display: flex;
        flex-direction: column;
        height: auto;
        color: var(--lightTextColor);
    }

    #keyBenefitsTitle {
        font-size: xx-large;
        text-align: center;
        color: var(--lightTextColor);
        margin: 1rem;
    }

    .benefitsContainer {
        width: 100%;
    }

    .benefits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding: .5rem;
    }

    .benefits>img {
        width: 50px;
        height: 50px;
    }

    .benefitsTitle {
        margin: .3rem;
    }

    .benefitsText {
        padding: 1rem;
    }

    /*###################################################################*/

    .user-rating {
        background-color: var(--darkBrown);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--darkTextColor);
    }

    .userRatingIcon {
        width: 70px;
        height: 70px;
        margin: 1rem;
    }

    .carousel-container {
        position: relative;
        height: 400px;
        width: 750px;
        margin: 0 auto;
        overflow: hidden;

    }

    .carousel-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .carousel-slide.active {
        opacity: 1;
    }

    .userRatingComment {
        margin: 1rem;
        font-size: 20px;
    }

    .userRatingPhoto {
        width: 70px;
        height: 70px;
        margin: 1rem;
    }

    .rating {
        display: inline-block;
        font-size: 0;
        line-height: 0;
    }

    .star {
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0 2px;
        background-image: url('../icons/star.png');
        background-size: cover;
    }

    .userRatingName {
        font-size: 18px;
        margin: .5rem;
    }

    .userRatingLocation {
        font-size: 14px;
        margin-bottom: 1rem;
    }



    /*###################################################################*/

    .features {
        background-color: var(--lightBrown);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--lightTextColor);
    }

    .ftTitle {
        font-size: 18px;
        margin: .3rem;
    }

    .featuresCards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .ftCard {
        width: 200px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
    }

    .featureImage {
        width: 100%;
        height: 150px;
        margin: .3rem;
    }

    .featureTitle {
        font-size: 18px;
        margin: .5rem;
    }

    .featureText {
        font-size: 14px;
        margin: 1rem;
        text-align: justify;
    }

    /*###################################################################*/

    .featureSubSection {
        background-color: var(--darkBrown);
        color: var(--darkTextColor);
        display: flex;
        align-items: center;
    }

    .subImage {
        max-width: 500px;
        height: 200px;
        margin: 1rem;
    }

    .subInfo {
        margin: 1rem;
    }

    .subTitle {
        margin: .5rem .5rem .5rem 0;
        font-size: 28px;
    }

    .subText {
        font-size: 18px;
        text-align: justify;
        max-width: 88%;
    }

    /*###################################################################*/

    .footerSection {
        display: flex;
        justify-content: space-around;
        background-color: var(--lightBrown);
        color: var(--lightTextColor);
        height: auto;
    }

    .footerTitle {
        font-size: 24px;
        margin: 1rem;
        text-align: center;
    }

    ul {
        text-align: justify;
        list-style-type: none;
        font-size: 18px;
    }

    li {
        margin-left: .5rem;
        padding-bottom: 1rem;
    }

    .listIcons {
        background-image: url('../icons/phone.png');
        width: 30px;
        height: 30px;
    }

    .imgFooter {
        height: 200px;
        width: 200px;
        margin: 1rem;
    }
}

@media screen and (min-width: 993px) {

    .endpoint {
        color: rgb(255, 0, 255);
    }

    .header {
        display: flex;
        flex-direction: column;
        background-image: url('../images/pexels-thgusstavo-santana-1813272.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        height: 400px;
    }

    .headerText {
        position: relative;
        margin-left: 1rem;
        color: #261515;
        mix-blend-mode: overlay;
    }

    #headline {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        font-size: 100px;
    }

    /*###################################################################*/

    .key-benefits {
        background-color: var(--lightBrown);
        display: flex;
        flex-direction: column;
        height: 400px;
        color: var(--lightTextColor);
        align-items: center;
        justify-content: center;
    }

    #keyBenefitsTitle {
        font-size: 44px;
        color: var(--lightTextColor);
    }

    .benefitsContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .benefits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .benefits>img {
        width: 60px;
        height: 60px;
    }

    .slideInDown {
        -webkit-animation-name: slideInDown;
        animation-name: slideInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes slideInDown {
        0% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            visibility: visible;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    @keyframes slideInDown {
        0% {
            -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
            visibility: visible;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    .benefitsTitle {
        margin: 1rem;
    }

    .benefitsText {
        padding: 1rem;
        font-size: 18px;
    }

    .slideInUp {
        -webkit-animation-name: slideInUp;
        animation-name: slideInUp;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes slideInUp {
        0% {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            visibility: visible;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    @keyframes slideInUp {
        0% {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            visibility: visible;
        }

        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }

    /*###################################################################*/

    .user-rating {
        background-color: var(--darkBrown);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--darkTextColor);
    }

    .userRatingIcon {
        width: 100px;
        height: 100px;
        margin: 1rem;
    }

    .userRatingComment {
        margin: 1rem;
        font-size: 28px;
    }

    .userRatingPhoto {
        width: 200px;
        height: 200px;
        margin: 1rem;
    }

    .rating {
        display: inline-block;
        font-size: 0;
        line-height: 0;
    }

    .star {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 2px;
        background-image: url('../icons/star.png');
        background-size: cover;
    }

    .userRatingName {
        font-size: 20px;
        margin: .5rem;
    }

    .userRatingLocation {
        font-size: 18px;
        margin-bottom: 1rem;
    }


    .carousel-container {
        position: relative;
        height: 500px;
        width: 800px;
        margin: 0 auto;
        overflow: hidden;

    }

    .carousel-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    .carousel-slide.active {
        opacity: 1;
    }


    /*###################################################################*/

    .features {
        background-color: var(--lightBrown);
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--lightTextColor);
    }

    .ftTitle {
        font-size: 38px;
        margin: 1rem;
    }

    .featuresCards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .ftCard {
        width: 300px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
    }

    .featureImage {
        width: 100%;
        height: 200px;
        margin: .5rem;
    }

    .featureTitle {
        font-size: 24px;
        margin: 1rem;
    }

    .featureText {
        font-size: 20px;
        margin: 1rem;
        text-align: justify;
    }

    /*###################################################################*/

    .featureSubSection {
        background-color: var(--darkBrown);
        color: var(--darkTextColor);
        display: flex;
        align-items: center;
    }

    .subImage {
        max-width: 500px;
        height: 200px;
        margin: 1rem;
    }

    .subInfo {
        margin: 1rem;
    }

    .subTitle {
        margin: .5rem .5rem .5rem 0;
        font-size: 28px;
    }

    .subText {
        font-size: 18px;
        text-align: justify;
        max-width: 88%;
    }

    /*###################################################################*/

    .footerSection {
        background-color: var(--lightBrown);
        color: var(--lightTextColor);
        height: 250px;
        display: flex;
        justify-content: space-around;
    }

    .imgFooter {
        width: 300px;
        height: 200px;
        margin: 1rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footerTitle {
        font-size: 24px;
        margin: 1rem;
        text-align: center;
    }

    ul {
        text-align: justify;
        list-style-type: none;
        font-size: 18px;
    }

    li {
        margin-left: .5rem;
        padding-bottom: 1rem;
    }

    .listIcons {
        background-image: url('../icons/phone.png');
        width: 30px;
        height: 30px;
    }

    .imgFooter {
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }

}
